@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: rgba(18,18,18,255);
    margin: 0;
    padding: 0; 
}
/*header style*/
.header {
    padding-bottom: 150px;
}

.header-links{
    display: flex;
    padding-top: 30px;
    gap: 11.3in;
}

.header-links .left{
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
}

.header-links .right img{
    height: 25px;
    width: 25px;
}

.header-links a{
    padding-left: 30px;
}

.header-main{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    gap: 10px;
}

.header-name{
    color: rgba(101,107,114);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 30px;
}

/*about styling*/

.about-content {
    color: aliceblue;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    padding: 5rem 10rem 5rem 10rem;
}

header{
    position: relative;
}

header img {
    width: 100%;
    opacity: 0.3;
    position: relative;
}

h1 {
    color: aliceblue;
    font-family: "Montserrat";
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background: transparent;
}

